<form class="js-tasks-new" action="<%= tasks_path %>">
	<input type="text" name="title" placeholder="Buy milk" />
	<button>Add</button>
</form>
<hr />
<ul class="js-tasks-index"></ul>

<script src="/vendor/jquery.min.js"></script>
<script src="/vendor/underscore-min.js"></script>
<script src="/vendor/backbone-min.js"></script>
