<form class="js-tasks-new" action="<%= tasks_path %>">
	<input type="text" name="title" placeholder="Buy milk" />
	<button>Add</button>
</form>
<hr />
<div class="js-tasks-index">
	<ul class="js-tasks-index-list"></ul>
	<p><button class="js-tasks-index-clear">Crear</button> to remove done tasks</p>
</div>

<script src="/vendor/jquery.min.js"></script>
<script src="/vendor/underscore-min.js"></script>
<script src="/vendor/backbone-min.js"></script>
